<plugin name='solr' version='0.1' grailsVersion='1.1 &gt; *'>
  <author>Mike Brevoort</author>
  <authorEmail>brevoortm@avalonconsult.com</authorEmail>
  <title>Grails Solr Plugin</title>
  <description>\
Provides search capabilities for Grails domain model and more. Based on Solr 
open source search server through the SolrJ library.
</description>
  <documentation>http://grails.org/Solr+Plugin</documentation>
  <resources>
    <resource>Config</resource>
    <resource>DataSource</resource>
    <resource>UrlMappings</resource>
    <resource>org.grails.solr.Listing</resource>
    <resource>org.grails.solr.Solr1</resource>
    <resource>org.grails.solr.Solr1Annotated</resource>
    <resource>org.grails.solr.Solr1Disabled</resource>
    <resource>org.grails.solr.Solr1Override</resource>
    <resource>org.grails.solr.Solr2</resource>
    <resource>org.grails.solr.TESTENUM</resource>
    <resource>org.grails.solr.SolrService</resource>
  </resources>
  <dependencies>
    <plugin name='domainClass' version='1.1 &gt; *' />
    <resolvers>
      <resolver type='grailsPlugins' name='grailsPlugins' />
    </resolvers>
  </dependencies>
  <behavior />
</plugin>