<plugin name='solr' version='0.2' grailsVersion='1.1 &gt; *'>
  <author>Mike Brevoort</author>
  <authorEmail>brevoortm@avalonconsult.com</authorEmail>
  <title>Grails Solr Plugin</title>
  <description>\
Provides search capabilities for Grails domain model and more using the excellent Solr 
open source search server through the SolrJ library.
</description>
  <documentation>http://grails.org/Solr+Plugin</documentation>
  <resources>
    <resource>Config</resource>
    <resource>DataSource</resource>
    <resource>UrlMappings</resource>
    <resource>org.grails.solr.Listing</resource>
    <resource>org.grails.solr.Solr1</resource>
    <resource>org.grails.solr.Solr1Annotated</resource>
    <resource>org.grails.solr.Solr1Disabled</resource>
    <resource>org.grails.solr.Solr1Override</resource>
    <resource>org.grails.solr.Solr2</resource>
    <resource>org.grails.solr.TESTENUM</resource>
    <resource>org.grails.solr.SolrService</resource>
    <resource>org.grails.solr.SolrTagLib</resource>
  </resources>
  <dependencies>
    <plugin name='domainClass' version='1.1 &gt; *' />
    <resolvers>
      <resolver type='grailsPlugins' name='grailsPlugins' />
    </resolvers>
  </dependencies>
  <behavior>
    <method name='indexSolr' artefact='Domain' type='org.grails.solr.Listing'>
      <description />
    </method>
    <method name='indexSolr' artefact='Domain' type='org.grails.solr.Listing'>
      <description />
      <argument type='java.lang.Object' />
    </method>
    <method name='deleteSolr' artefact='Domain' type='org.grails.solr.Listing'>
      <description />
    </method>
    <method name='solrId' artefact='Domain' type='org.grails.solr.Listing'>
      <description />
    </method>
    <method name='indexSolr' artefact='Domain' type='org.grails.solr.Solr1'>
      <description />
    </method>
    <method name='indexSolr' artefact='Domain' type='org.grails.solr.Solr1'>
      <description />
      <argument type='java.lang.Object' />
    </method>
    <method name='deleteSolr' artefact='Domain' type='org.grails.solr.Solr1'>
      <description />
    </method>
    <method name='solrId' artefact='Domain' type='org.grails.solr.Solr1'>
      <description />
    </method>
    <method name='indexSolr' artefact='Domain' type='org.grails.solr.Solr1Annotated'>
      <description />
    </method>
    <method name='indexSolr' artefact='Domain' type='org.grails.solr.Solr1Annotated'>
      <description />
      <argument type='java.lang.Object' />
    </method>
    <method name='deleteSolr' artefact='Domain' type='org.grails.solr.Solr1Annotated'>
      <description />
    </method>
    <method name='solrId' artefact='Domain' type='org.grails.solr.Solr1Annotated'>
      <description />
    </method>
    <method name='indexSolr' artefact='Domain' type='org.grails.solr.Solr1Override'>
      <description />
    </method>
    <method name='indexSolr' artefact='Domain' type='org.grails.solr.Solr1Override'>
      <description />
      <argument type='java.lang.Object' />
    </method>
    <method name='deleteSolr' artefact='Domain' type='org.grails.solr.Solr1Override'>
      <description />
    </method>
    <method name='solrId' artefact='Domain' type='org.grails.solr.Solr1Override'>
      <description />
    </method>
    <method name='indexSolr' artefact='Domain' type='org.grails.solr.Solr2'>
      <description />
    </method>
    <method name='indexSolr' artefact='Domain' type='org.grails.solr.Solr2'>
      <description />
      <argument type='java.lang.Object' />
    </method>
    <method name='deleteSolr' artefact='Domain' type='org.grails.solr.Solr2'>
      <description />
    </method>
    <method name='solrId' artefact='Domain' type='org.grails.solr.Solr2'>
      <description />
    </method>
  </behavior>
</plugin>