<plugin name='solr' version='0.4' grailsVersion='1.2 &gt; *'>
  <author>Mike Brevoort</author>
  <authorEmail>brevoortm@avalonconsult.com</authorEmail>
  <title>Grails Solr Plugin</title>
  <description>\
Provides search capabilities for Grails domain model and more using the excellent Solr 
open source search server through the SolrJ library.
</description>
  <documentation>http://grails.org/Solr+Plugin</documentation>
  <type>SolrGrailsPlugin</type>
  <resources>
    <resource>org.grails.solr.Listing</resource>
    <resource>org.grails.solr.Solr1</resource>
    <resource>org.grails.solr.Solr1Annotated</resource>
    <resource>org.grails.solr.Solr1Disabled</resource>
    <resource>org.grails.solr.Solr1Override</resource>
    <resource>org.grails.solr.Solr2</resource>
    <resource>org.grails.solr.TESTENUM</resource>
    <resource>org.grails.solr.SolrService</resource>
    <resource>org.grails.solr.SolrTagLib</resource>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://plugins.grails.org' />
    <repository name='http://repo.grails.org/grails/plugins' url='http://repo.grails.org/grails/plugins/' />
    <repository name='http://repo.grails.org/grails/core' url='http://repo.grails.org/grails/core/' />
    <repository name='grailsCore' url='http://svn.codehaus.org/grails/trunk/grails-plugins' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
  </repositories>
  <dependencies>
    <compile>
      <dependency group='org.apache.solr' name='solr-solrj' version='3.6.0' />
    </compile>
  </dependencies>
  <plugins />
  <runtimePluginRequirements>
    <plugin name='domainClass' version='1.2 &gt; *' />
  </runtimePluginRequirements>
  <behavior />
</plugin>